body {
  margin: 0;

}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("http://www.wallon.ru/_ph/47/156071795.jpg?1662487077");
  background-size: 100%;
}
.container{
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  width: 600px;
  max-width: 100%;
  text-align: center;

 
}
span{
  color:red;
  font-size: 50px;
}
p{
  font-size: 25px;
}
button{
  background:yellowgreen;
  width:20%;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}
